@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption');
  img {
    display: block;
    width: 1020px;
    margin: 80px auto;
  }
  h1, h2, h3, p, ul, a
  {
    width: 700px;
    margin: 0 auto;
  }
  h1 + p {
    font-family: "PT Sans",sans-serif;
    font-size: 30px;
    line-height: 25px;
    margin-top: 5px;
    color: grey;}
  h2 + p {
    margin-top: 10px;
  }
  h3 + p {
    margin-top: 10px;
  }
  h1 {
    font-family: "PT Sans",sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-top: 65px;
  }
  h2 {
    font-family: "PT Sans",sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
  }
  h3 {
    font-family: "PT Sans",sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
  }
  .quote{
    width: 700px;
    font-family: "PT Sans",sans-serif;
    font-size:20px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10px;
    border-left: 2px solid black;
    padding-left: 20px;
    margin-left: 270px;
  }
  a {color:black;}
  p {
    font-family: "PT Sans",sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
  }
  ul{
    font-family: "PT Sans",sans-serif;
    font-size: 20px;
    line-height: 25px;
    margin-top: 30px;
    list-style-type: disc;
  }
